<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <title>收單好朋友</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css", media: "all" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css", media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons", media: "all" %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <i id="mobile-detector" class="hidden-xs"></i>
    <%= yield %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.27/vue.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" %>
  </body>
</html>
